<!-- Nav bar module -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/book/bookdisplay">
            <img src="assets/Images/bookLogo1.webp" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" routerLink="/books/bookdisplay">bookLodeon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/books/bookdisplay">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Browse Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li *ngFor="let cat of categories"><a  class="dropdown-item"
                              routerLink="/books/viewbookbycategory/{{cat.categoryName}}">{{cat.categoryName}}</a></li>
                    </ul>
                </li>
            </ul>
            <a routerLink="/customer/account">
                <i class="fa fa-user">Account </i>
            </a>
            <a routerLink="/cart">
                <i class="fa fa-shopping-cart">Cart</i>
            </a>
            <div class="mx-2">
                <button class="btn btn-primary" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>