<app-adminheader></app-adminheader>
<!-- For displaying all users in a tables-->
<div class="row" *ngIf="deleteMsg !== ''">
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
        {{deleteMsg}}
    </div>
</div>
<div class="row">
    <h2>Customer Details</h2>
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Country</th>
                <th>City</th>
                <th>Pin Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.customerId}}</td>
                <td>{{customer.fullName}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.password}}</td>
                <td>{{customer.mobileNumber}}</td>
                <td>{{customer.address.address}}</td>
                <td>{{customer.address.country}}</td>
                <td>{{customer.address.city}}</td>
                <td>{{customer.address.pincode}}</td>
                <td>
                    <button class="btn btn-success btn-sm" (click)="onClickUpdate(customer.customerId)"
                        data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
                    <button class="btn btn-danger btn-sm ml-3 mx-2"
                        (click)="onClickDelete(customer.customerId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- To show a modal box to update a record-->
<div class="modal" id="updateModal" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Customer</h5>
                <button type="button" class="close" #closebutton data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-sm" [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="customerId">Customer ID</label>
                        <input type="text" class="form-control" id="customerId" formControlName="customerId">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" formControlName="fullName">
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('fullName').invalid 
                                        && userUpdateForm.get('fullName').touched">
                            <div *ngIf="userUpdateForm.get('fullName').errors.required">
                                Name is required.
                            </div>
                            <div *ngIf="userUpdateForm.get('fullName').errors.minlength">
                                Name must be 5 characters long
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('email').invalid 
                                        && userUpdateForm.get('email').touched">
                            <div *ngIf="userUpdateForm.get('email').errors.required">
                                email is required.
                            </div>
                            <div *ngIf="userUpdateForm.get('email').errors.pattern" class="text-danger">
                                Please provide a valid email address
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" formControlName="password">
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('password').invalid 
                                        && userUpdateForm.get('password').touched">
                            <div *ngIf="userUpdateForm.get('password').errors.required">
                                Password required
                            </div>
                            <div *ngIf="userUpdateForm.get('password').errors.pattern" class="text-danger">
                                Password invalid
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobileNumber">Mobile Number</label>
                        <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber">
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('mobileNumber').invalid 
                                        && userUpdateForm.get('mobileNumber').touched">
                            <div *ngIf="userUpdateForm.get('mobileNumber').errors.required">
                                mobile number is required.
                            </div>
                            <div *ngIf="userUpdateForm.get('mobileNumber').errors.minlength">
                                Mobile Number must be 10 digits
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <textarea rows="5" cols="7" class="form-control" id="address"
                            formControlName="address"></textarea>
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('address').invalid 
                                        && userUpdateForm.get('address').touched">
                            <div *ngIf="userUpdateForm.get('address').errors.required">
                                address is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" formControlName="country">
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('country').invalid 
                                        && userUpdateForm.get('country').touched">
                            <div *ngIf="userUpdateForm.get('country').errors.required">
                                country is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" formControlName="city">
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('city').invalid 
                                        && userUpdateForm.get('city').touched">
                            <div *ngIf="userUpdateForm.get('city').errors.required">
                                City is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pincode">Pin code</label>
                        <input type="text" class="form-control" id="pincode" formControlName="pincode">
                        <div class="alert alert-danger" *ngIf="userUpdateForm.get('pincode').invalid 
                                        && userUpdateForm.get('pincode').touched">
                            <div *ngIf="userUpdateForm.get('pincode').errors.required">
                                Pincode is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mx-2">Update</button>
                    <button type="button" class="btn btn-danger mx-2" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>