<app-adminheader></app-adminheader>
<div class="container mt-2">
    <div class="row">
        <a  routerLink="/admin/addbook"  class="col-md-3 col-sm-6 item">
            <div class="card item-card card-block">
                <h4 class="card-title text-right"></h4>
                <img src="https://img.huffingtonpost.com/asset/5ed1131b3000005f23156e60.jpeg?cache=2Ts07VoVl5&ops=crop_0_1473_2624_1968%2Cscalefit_720_noupscale" alt="Photo of books">
                <h5 class="item-card-title mt-3 mb-3" >Add a Book</h5>
            </div>
        </a>
        <a routerLink="/books/viewallbooks" class="col-md-3 col-sm-6 item">
            <div class="card item-card card-block">
                <h4 class="item-card-title text-right"></h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8X4_gR2KPr6Xn4fxCCo5iDmS08ydhzLKdIA&usqp=CAU" alt="Customer Management">
                <h5 class="card-title  mt-3 mb-3">Update a Book</h5>
            </div>
        </a>
    </div>

</div>