
<!-- intro module -->
<div class="container">
    <div class="row" id="ads">
        <!-- Category Card -->
        <div *ngFor="let book of books" class="col-md-4 py-5 px-2">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">{{book.category.categoryName}}</span>
                    <img class="img-fluid" style="margin-left:80px; margin-top:10px;" width="200" height="400"
                        src="data:image/jpeg;base64,{{book.bytes}}" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">{{book.author}}</span>
                    <span class="card-detail-badge"> &#8377;{{book.price}}</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>{{book.title}}</h5>
                    </div>
                    <a class="ad-btn" [routerLink]="['/books/viewbook', book.bookId]">View</a>
                </div>
            </div>
        </div>
    </div>
</div>